:root {
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0ecf8;
  color: rgb(141, 141, 141);
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.5;
}
.game-container {
  overflow: hidden;
  width: 100%;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
  text-shadow: var(--dark-shadow);
}
.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: normal;
  letter-spacing: 0.25rem;
  text-shadow: var(--light-shadow);
}
.game-status-container {
  display: flex;
  justify-content: center;
}
.container {
  width: 90%;
  height: 90%;
}
/* puzzle ----------------------------- */
.puzzle {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
  line-height: 100%;
}
.puzzle span {
  display: inline-block;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 0.1rem;
  text-align: center;
  text-transform: uppercase;
  width: .5rem;
}
@media screen and (min-width: 1024px) {
  .game-status-container {
    justify-content: space-around;
  }
  .container {
    width: 45%;
  }
  .puzzle {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .puzzle span {
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 0.1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2rem;
  }
}
.reamining-guesses-container {
  padding-bottom: 1rem;
}
.remainingGuess {
  text-align: center;
}
.message {
  height: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

/* wrong letter --------------------------- */
.wrong-title {
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  text-shadow: var(--light-shadow);
}
.wrong-letters-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrong-letter {
  margin-top: 0.5rem;
  font-size: 1.75rem;
  letter-spacing: 0.75rem;
}

/* remainging guesses --------------- */
.remaining-guesses {
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
  text-shadow: var(--light-shadow);
}

/* keyboard --------------------------- */
.keyboard {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-quarter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.second-quarter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.third-quarter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.forth-quarter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.keyboard button {
  width: 14%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  background-color: transparent;
  color: rgb(141, 141, 141);
  border: 1px solid rgb(141, 141, 141);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.forth-quarter button {
  margin-right: 2px;
}
.keyboard button:hover {
  background-color: #fff;
  transform: scale(1.1);
  transition: var(--transition);
}

/* modal ------------------------------ */
@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container.show {
  display: flex;
  animation: modalOpen 0.5s ease;
}
.result {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.result h2 {
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.result p {
  margin-bottom: 1rem;
}
.result span {
  font-size: 1.25rem;
}
.result button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid rgb(141, 141, 141);
  background: none;
  color: rgb(141, 141, 141);
  cursor: pointer;
}
