:root {
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0ecf8;
  color: rgb(141, 141, 141);
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.5;
  
}
.game-container {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
}
.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: normal;
  letter-spacing: 0.25rem;
}
.game-status-container {
  display: flex;
  justify-content: center;
}
.puzzle {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
  line-height: 100%;
  display: flex;

}
.puzzle span {
  /* border-bottom: 1px solid #534f59; */
  /* display: inline-block; */
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 0.1rem;
  text-align: center;
  text-transform: uppercase;
  width: 1.5rem;
}
@media screen and (min-width: 768px) {
  .game-status-container {
    justify-content: space-around
  }

  .puzzle span {
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 0.1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2rem;
  }
}

.remainingGuess {
  text-align: center;
}
.message {
  height: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: var(--transition);
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  padding: 20px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input {
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(141, 141, 141);
  margin-right: 1rem;
}
.form input:focus {
  outline: 1px solid rgb(141, 141, 141);
  border-bottom: none;
}
.form button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid rgb(141, 141, 141);
  background: none;
  color: rgb(141, 141, 141);
  cursor: pointer;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container.show {
  display: flex;
  animation: modalOpen 0.5s ease;
}
.result {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.result h2 {
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.result p {
  margin-bottom: 1rem;
}
.result span {
  font-size: 1.25rem;
}
.result button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid rgb(141, 141, 141);
  background: none;
  color: rgb(141, 141, 141);
  cursor: pointer;
}
